<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
<div th:fragment="content">
    <h2>Change Password</h2>
    <form th:action="@{/researcher/account/change-password}" th:object="${passwordForm}" method="post">
        <label for="oldPassword">Old Password:</label>
        <input type="password" th:field="*{oldPassword}" id="oldPassword" />

        <label for="newPassword">New Password:</label>
        <input type="password" th:field="*{newPassword}" id="newPassword" />

        <label for="confirmPassword">Confirm New Password:</label>
        <input type="password" th:field="*{confirmPassword}" id="confirmPassword" />

        <button type="submit">Change Password</button>
    </form>
    <span th:text="${error}"></span>
</div>
</body>
</html>
